.nav {

    text-align: right;
    height: 70px;
    line-height: 70px;

}

.menu {
    margin: 0 30px 0 0;
  
}
.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    font-family: "SF Pro Text Light", sans-serif;
    font-size: 30px;

    
}
.menu a:hover{
  font-size: 32px;
 /* text-shadow: 2px 2px 8px #ff0000;*/
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: white;
}
#toggle {
    display: none;
}